@use '../../styles/global' as vars;

.header {
    background-color: transparent;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 180px;
    position: sticky;
    top: 0;
    z-index: 10000;

    .logo {
        .logo_image {
            width: 30px;
            height: 30px;
        }
    }

    .menu_navigation .menu_navigation_list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 32px;

        a {
            text-decoration: none;
            color: vars.$white;
            font-size: 14px;
            font-weight: 600;

            .icon {
                display: none;
            }
        }

        a:hover {
            opacity: 0.6;
        }
    }
}

@media (max-width: 920px) {
    .header {
        padding: 0 90px;

        .menu_navigation .menu_navigation_list{
            a {
                .text_menu {
                    display: none;
                }
        
                .icon {
                    display: block;
                }
            }
        }
    }
}

@media (max-width: 540px) {
    .header {
        padding: 0 6px;
    }
}