@use '../../styles/global' as vars;

.header {
    background-color: vars.$black;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 180px;
    position: sticky;
    top: 0;
    z-index: 10000;

    .logo {
        .logo_image {
            width: 30px;
            height: 30px;
        }
    }

    .menu_navigation {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .menu_navigation_list {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 32px;
    
            a {
                text-decoration: none;
                color: vars.$white;
                font-size: 14px;
                font-weight: 600;
    
                .icon {
                    display: none;
                    width: 20px;
                    height: 20px;
                }
            }
    
            a:hover {
                opacity: 0.6;
            }
        }
    }
}

@media (max-width: 920px) {
    .header {
        padding: 0 90px;

        .menu_navigation {
            .menu_navigation_list {
                a {
                    .text_menu {
                        font-size: 12px;
                    }
                }

                li:first-child {
                    display: grid;
                }
            }
        }
    }
}

@media (max-width: 690px) {
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 52px 6px;
        margin-top: 32px;

        .logo {
            margin-bottom: 10px;
        }

        .menu_navigation {
            display: flex;
            flex-direction: column;

            .menu_navigation_list {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 0;
            }
        }
    }
}

@media (max-width: 374px) {
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 32px 6px;

        .menu_navigation .menu_navigation_list {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 0;
        }
    }
}